.list-item {
  margin: 5px;
}
.btn {
  padding: 8px;
  border: solid #db1c48 2px;
  color: #db1c48;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 18px;
  width: 80px;
}
.active-btn {
  background-color: #db1c48;
  color: #ffffff;
}
